#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table {
  margin-top: 100px;
  width: 100%;
  text-align: left;
}

button {
  height: 40px;
  width: 150px;
  margin: 20px;
}

input {
  height: 40px;
  width: 150px;
  margin: 20px;
}

th {
  min-width: 200px;
}

table > tbody > tr.colorizing:nth-child(odd) {
  background-color: gray;
}

table > thead {
  background-color: darkslateblue;
}
